@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.attribution {
  font-size: 11px;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
