@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan', sans-serif;
}

.fs-base {
  font-size: 0.9375rem /* 15px */;
  line-height: 1.5rem /* 24px */;
}

.title-text {
  font-size: 1.875rem /* 30px */;
  line-height: 1.4rem /* 36px */;
}

@media (min-width: 640px) {
  .sm\:title-text-desktop {
    font-size: 3.25rem /* 60px */;
    line-height: 0.9;
  }
}

@media (min-width: 640px) {
  .sm\:gap-ratings {
    gap: 3.7rem;
  }
}

.attribution {
  font-size: 11px;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
