@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan', sans-serif;
}

.title-text {
  font-size: 1.875rem /* 30px */;
  line-height: 1.4rem /* 36px */;
}

.attribution {
  font-size: 11px;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
